[Unit]
Description=Emacs text editor
Documentation=info:emacs

[Service]
Type=forking
ExecStart=/home/inigo/.guix-home/profile/bin/emacs --daemon
ExecStop=/home/inigo/.guix-home/profile/bin/emacsclient --eval "(kill-emacs)"
Restart=on-failure
Environment=XMODIFIERS=

[Install]
WantedBy=default.target
